<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExoMolHR</title>
</head>
<body>

add: {{ count|add:10 }}
<br>
time: {{ time|date:"Y-m-d H:i:s" }}
<br>
cut: {{ cut_str|cut:"-" }}
<br>
capfirst: {{ first_big|capfirst }}
<br>
default: {{ result|default:"empty" }}
<br>
default_if_none: {{ if_none|default_if_none:"none is empty" }}
<br>
dictsort: {{ dict_list|dictsort:"molID" }}
<br>
first: {{ dict_list|first }}
<br>
floatformat: {{ float_num|floatformat:2 }}
<br>
join: {{ array|join:"-" }}
<br>
length: {{ dict_list|length }}
<br>
divisibleby: {{ count|divisibleby:2 }}
<br>
length_is: {{ dict_list|length_is:3 }}
<br>
safe: {{ html_str|safe }}
<br>
random: {{ array|random }}
<br>
slice: {{ html_str|slice:":8" }}
<br>
slugify: {{ html_str|slugify }}
<br>
upper: {{ html_str|upper }}
<br>
urlize: {{ url_str|urlize }}
<br>
wordcount: {{ first_big|wordcount }}
<br>
timeuntil: {{ future|timeuntil }}
<br>
{#myfilter: {{ count|test_filter:10 }}#}
<br>
jinja2
<br>
{{ dict_list|title }}
<br>
<link rel="stylesheet" href="../static/molecule.css">



</body>
</html>