PLOT_COLOR_STOPS = [
    "#c5bddf",  # pale purple
    "#8ea7e2",  # blue
    "#6fb9e7",  # sky blue
    "#a3cdc6",  # teal
    "#92bb8d",  # green
    "#acde8d",  # yellow green
    "#ecee77",  # yellow 
    "#efbc63",  # orange
]
PLOT_PRIORITY_COLORS = [
    "#6fb9e7",  # sky blue
    "#acde8d",  # yellow green
    "#ecee77",  # yellow 
    "#92bb8d",  # green
    "#8ea7e2",  # blue
    "#efbc63",  # orange
    "#a3cdc6",  # teal
    "#c5bddf",  # pale purple
]

<style>
.about-card {
    background: #c5bddf #8ea7e2 #6fb9e7 #a3cdc6 #92bb8d #acde8d #ecee77 #efbc63;
    color: #6fb9e7 #acde8d #ecee77 #92bb8d #8ea7e2 #efbc63 #a3cdc6 #c5bddf
  }
</style>